<!DOCTYPE html>
<html>
<head>
    <title>Github Repositories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Github Repositories</h1>
    {% if repositories %}
        <ul>
        {% for repository in repositories %}
            <li>
                <h2>{{ repository.name }}</h2>
                <p>{{ repository.description }}</p>
                <p>Forks: {{ repository.forks_count }}</p>
                <h3>Oldest forkers:</h3>
                <ul>
                    {% for oldest_forker in repository.forkers %}
                        <li>{{ oldest_forker.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No repositories found.</p>
    {% endif %}
</body>
</html>
