<!DOCTYPE html>
<html>
<head>
    <title>Github Repositories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Github Repositories</h1>
    <form action="/" method="POST">
        <label for="org_name">Organization:</label>
        <input type="text" id="org_name" name="org_name" required>
        <br>
        <label for="n">n:</label>
        <input type="number" id="n" name="n" min="1" max="100" required>
        <br>
        <label for="m">m:</label>
        <input type="number" id="m" name="m" min="1" max="100" required>
        <br>
        <input type="submit" value="Fetch">
    </form>
    
</body>
</html>
